/**
 * fil: css/style.css
 **/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');
/* Reset: Meyer Style */
/* fjerner default browser styles */
@import 'reset.css';

@keyframes animation {
  from {line-height: 0%;}
  to {line-height: 400%;}
}

@keyframes fade {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/* Farve- og fontvariabler */
:root {
  /* farver */
  --graa: #393939;
  --white: #ffffff;
  --orange: #f39458;
  --blaa: #6bfff0;
  --roed: #eb3b3b;
  --lysegraa: #737373;

  /* fonte */
  --overskrift: 'Mulish', sans-serif;
  --broedtekst: Helvetica, sans-serif;

  /* whitespace */
  --whitespace: .5rem;
}


#forsidenav {
  height: 220px;
}


#indstillingersection {
  font-family: var(--overskrift);
  color: var(--orange);
  font-size: 24pt;
  line-height: 2;
}

.indstillinger {
  border-bottom: 1px solid var(--orange);
  color: var(--orange);
  text
}

.indstillinger a {
  color: var(--orange);
}

.indstillinger1 {
  color: red;
}

.indstillinger1 a {
  color: red;
}

#holdplansection {
  color: var(--orange);
}

#showMenu {
  padding-left: 25px;
  float: left;
  color: var(--orange);
}

#showMenu a {
  color: var(--orange);
}

h1 {
  color: var(--orange);
}

#login {
  padding-right: 8px;
  float: right;
  width: 40px;
  padding-top: 8px;
}

#login a {
  color: var(--orange);
}

/* Her bruges en variabel: --blue */
body {
  font-family: var(--overskrift);
  font-weight: 400;
  background-color: var(--graa);
}

h1 {
  font-family: var(--overskrift);
  font-weight: 400;
}

/* Typografisk */
h2 {
  font-family: var(--overskrift);
  font-size: 1.2em;
  text-align: left;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

h3 {
  font-family: var(--overskrift);
  font-size: 1.2em;
  text-align: center;
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

p {
  margin-left: var(--whitespace);
  margin-right: var(--whitespace);
  padding-bottom: var(--whitespace);
  font-size: 1.2em;
}

figcaption {
  font-style: italic;
  margin-left: var(--whitespace);
  margin-right: var(--whitespace);
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  border-top: 1px solid var(--orange);
}

/* Wrap */
#wrap {
  min-height: 100vh;
}

/* Navigation and footer */
footer {
  background-color: var(--dark);
  padding: 35px 0;
  text-align: center;
  margin-bottom: 20px;
}

nav ul,
footer ul {
  display: flex; /* horisontal menu */
  justify-content: center;
}

tr {
  text-align: center;
}

.faellesspisning {
  background-color: var(--orange);
}

.traening {
  background-color: var(--blaa);
}

.staevne {
  background-color: var(--roed);
}

#kalendermaaned {
  color: var(--orange)
}

nav ul li,
footer ul li {
  margin-right: 4ch;
  list-style: none;
  text-align: center;
  animation-name: animation;
  animation-duration: 1s;
  line-height: 400%;
  color: var(--orange);
}



.mobmenu a {
  color: var(--orange);
  text-align: center;
  padding-left: 1.5rem;
}

nav a,
footer {
  color: var(--orange);
  text-decoration: none;
}

/* Footer */
footer {
  width: 100%;
  margin-bottom: 0px; /* fordi: nedarver 20px fra nav,footer */
}

/* Sections (højde == skærmhøjde) */
section {
  background-color: var(--graa);
}

/* Billeder */
nav img {
  max-width: 50%;
}



#tilmeld {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 5px;
}

.box, select {
  float: right;
}

.tilmeldknap {
  text-align: center;
}


#tilmeld img {
  max-width: 100px;
}

.hjem a {
 text-decoration: none;
 color: var(--orange);
 font-size: 200%;
 padding-left: 15px;
}

#bbb {
  background-color: var(--graa);
  color: var(--orange);
  text-align: center;
}

#forsidetekst {
  background-color: var(--graa);
  color: var(--orange);
  text-align: justify;
}

footer {
  border-top: 1px solid var(--orange);
}

#gallerisection {
  text-align: center;
}

#beskeder td {
  border: solid 1px var(--orange);
  color: black;
  background-color: lightgrey;
}

#tilmelding {
  color: var(--orange);
  background-color: var(--graa);
}

.tooltiptext {
  visibility: hidden;
  background-color: lightgrey;
  color: black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  animation-name: fade;
  animation-duration: 0.6s;
}

.profilinfo {
  background-color: var(--graa);
  color: var(--orange);
}

.beskederoverskrift {
  font-weight: 800;
}


#menu {
  text-align: center;
  margin-left: 60px;
}

.kalendermain {
  height: 350px;
}




/* MOBILE FIRST (via Flexbox) */

/* 1. Mobile enheder (begynd her) */
@media only screen and (max-width: 400px) {

#menu {
  display: none;
}

nav {
  font-size: 200%;
}

.hjemknap {
position: absolute;
top: 8%;
padding-right: 8px;
}

.hjemknap img {
  max-width: 100%;
}



#minprofil {
  text-align: center;
}

.profilbillede img {
  max-width: 200px;
}

#galleribilleder img {
  max-width: 300px;
}

#aaa {
  background-image: url(../images/bigphoto.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: center;
}

.forsideflex {
  display: none;
}

#tilmeld1 {
  display: none;
}

#indstillingersection a {
  text-decoration: none;
}

#indstillingersection div:hover {
  background-color: var(--lysegraa);
}




}


@media only screen and (min-width: 401px) {
  /* Vælg en anden baggrundsfarve til tablets */


  /* Flexbox: design efter skitser */

  /* Menu */

  /* 2.A. gør burgeren synlig */

  /* 2.B Skjul menu og burgermenu */

  /* --- Flexbox (responsivt flex) --- */

  /* 2.C. Sæt main til flex, flex-wrap til wrap og gap på 10px */

  /* 2.D Forklaring:

  main > * betyder: for alle "børn" af main { ... css her  ...}
  Se disse tutorials

  @url: https://flexbox-pattern-cheatsheet.kevinpowell.co/
  @url: https://www.w3schools.com/cssref/css3_pr_flex.asp

  Prøv:

  main > * {
    flex: 1 1 32ch;
  }
   */

  /*
  Forkortelsen 'flex' kan sætte flere værdier på en gang.
  Mere om anvendelsen af flex her:
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/flex

  Fx: Three values: flex-grow | flex-shrink | flex-basis
  flex: 2 2 10%;

  Alternativt bruges box sizing, se
  @url: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */

}

/* 3. Stor skærm (slut her) */
@media only screen and (min-width: 1050px) {

  #forsidenav {
    height: 350px;
  }

  .hjemknap {
  position: absolute;
  top: 12%;
  text-align: center;
  width: 99%;
  }

  .hjemknap img{
    max-width: 600px;
  }

#showMenu {
  display: none;

}

.menupunkter a {
border-right: 1px solid var(--orange);
padding-right: 45px;

}

#mobilforsideheader {
  display: none;
}

#mobilforsidetekst {
  display: none;
}

.forsideflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forsideflex img {
  max-width: 300px;
}

.desktopforsidetekst1 {
  max-width: 35ch;
  padding-top: 10%;
}

.desktopforsidetekst2 {
  max-width: 35ch;
  padding-top: 10%;
}

#forsidetekst {
  max-width: 75%;
  padding-left: 12.5%;
}

#tilmeld {
  display: none;
}

#tilmeld1 {
  text-align: center;
}

#galleribilleder img {
  max-height: 300px;
  max-width: 300px;
}

#galleribilleder {
 display: flex;
 flex-wrap: wrap;
 grid-gap: 30px;
 align-items: center;
 justify-content: space-around;
}

#tilmelding {
  padding-left: 20%;
  padding-right: 20%;
}

#profilmain {
  padding-left: 25%;
  padding-right: 25%;
}

.profilbillede {
  float: left;
}

.profilbillede img {
  width: 200px;
}

.profilinfo {
  float: right;
}

#bbbprofil {
  height: 250px;
  text-align: right;
}

#om {
  max-width: 40%;
  padding-left: 10%;
  color: var(--orange);
  float: left;
}

#omsection {
  float: right;
  max-width: 40%;
  color: var(--orange);
  padding-right: 10%;
  text-align: center;

}

#omsection img {
  max-width: 35%;
}

#ommain {
  height: 650px;
}

h1 {
  text-align: center;
}

#indstillingersection {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

#indstillingersection a {
  text-decoration: none;
}

#indstillingersection div:hover {
  background-color: var(--lysegraa);
}

  /* 3.A.: Giv baggrunden en ny farve, sørg for en god kontrat til tekst. */

  /* 3.B.: Skjul burgeren */

  /* 3.C.: Vis menuen, og gør den horisontal */

  /* 3.D.: #wrap må max fylde 80% og designet skal være centreret  */

  /* 3.E.: Giv fuld bredde til øverste section */

}
